/data/ARQMath/html_minimal_2021/selected
/data/ARQMath/experiments/topics/ARQMath_2021/task1-topics-2020-slt
/data/ARQMath/experiments/topics/ARQMath_2021/task1-topics-2021-slt

.DS_Store
__pycache__/
*.py[cod]
