/data/ARQMath/html_minimal_2021/selected
/data/ARQMath/experiments/topics/ARQMath_2021/task1-topics-2020-slt
/data/ARQMath/experiments/topics/ARQMath_2021/task1-topics-2021-slt

/data/ARQMath/data-original
/data/ARQMath/prepro_2022
/data/ARQMath/data-extracted
/data/ARQMath/data-indexed
/data/ARQMath/data-queried

/src_2022/mathtuples
/src_2022/mtextsearch
/trec_eval

.DS_Store
__pycache__/
*.py[cod]
