/data/ARQMath/html_minimal_2021/selected
/data/ARQMath/experiments/topics/ARQMath_2021/task1-topics-2020-slt
/data/ARQMath/experiments/topics/ARQMath_2021/task1-topics-2021-slt
/data/ARQMath/data-original
/data/ARQMath/prepro_2022
/data/ARQMath/data-extracted

.DS_Store
__pycache__/
*.py[cod]
