body,html {
    height: 100%;
    margin: 0;
    font-family:'Open Sans', sans-serif;
    color: #212529;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top:30px;

}

/* Style the buttons that are used to open the tab content */
.tab-header button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: inherit;
  font-weight: normal;
}

.tab-header button:disabled {
    color: grey;
    cursor: not-allowed;
}

/* Change background color of buttons on hover */
.tab-header button:hover {
  background-color: white;
  color:orange;
}

/* Create an active/current tablink class */
.tab-header button.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /*border: 1px solid #ccc;*/
  border-top: none;
  height: 700px;
  overflow-y:auto;
}



.bg-image {
    background-image: url('img/MathDowsersLight.jpg');

    filter: blur(1px);
    -webkit-filter: blur(1px);

    height:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bg-text{
    background-color: white;  /*Fallback color*/
    background-color: rgba(255,255,255, 0.9); /* w/opacity/see-through */
    color: inherit;
    /*border: 3px solid #f1f1f1;*/
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.description {
    text-align:left;
    font-weight:normal;

    /*font-style:italic;*/
    background-color: white;
    padding: 30px;

}

a {
    /*color:orange;*/
}
a:hover{
    /*color:orange;*/
}
a:visited{
    /*color:orange;*/
}

li{
  padding: 10px;
}

.note-for-limit-size{
  color: red;
}
