.bg-image {
    background-image: url('img/MathDowsersLight.jpg');

    filter: blur(1px);
    -webkit-filter: blur(1px);

    height:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.footer {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.button-text {
    color: orange;
    font-family: 'Courier New', monospace;
}
.action-text:hover {
    font-weight:bold;
    cursor: pointer;
}

hr.qbox {
    border-top: 1px dotted orange;
}

.q-text{
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255, 0.9); /* Black w/opacity/see-through */
    color: black;
    /*border: 3px solid #f1f1f1;*/
    border: 3px solid orange;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;

    font-family: 'Courier New', monospace;
    overflow: auto;
    height: fit-content;
    max-height: 80%;

}
.qbox-header{
    background-color: orange;
    color: white;
    margin-top: -30px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:'Open Sans', sans-serif;
}
.qbox-title{
    font-weight: bold;
    color: #253529;
}
.qbox-tags{
    font-weight: bold;
    color: orange;
}

.qtopic-id{
    color: orange;
}

.qbox-body{
    text-align: left;
}
.qbox-footer{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    color: white;
    margin-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family:'Open Sans', sans-serif;
}